<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="./style.css">

<HEAD>
    <meta charset="UTF-8">
</HEAD>

<body>
    <div class="horizontalAlign">
        <div class="VerticalAlign">
            <div class="container" id="todoApp">
                <div class="title">
                    <h1>TODO</h1>
                </div>
                <div class="inputContainer">
                    <input type="text" name="" id="textInput">
                    <input type="button" value="추가" v-on:click="OnClickAddButton">
                </div>
                <ul>
                    <li class="todoElement" v-for="todo in todoList">
                        <div class="checkBox">
                            <input type="checkbox" v-on:click="OnCheckBoxClick">
                        </div>
                        <div>
                            {{todo.text}}
                        </div>
                        <div class="deleteButton" v-on:click="OnClickDeleteButton">
                            <span>삭제</span>
                        </div>
                    </li>
                    <div class="emptyMessage" v-if="todoList.length == 0">할 일이 없습니다!</div>
                </ul>
            </div>
            <script src="./todo.js"></script>
        </div>
    </div>
</body>